spring:
  profiles:
    active: local   #개인 apllication-local.yml 만들어서 개발용으로 사용 <- 꼭 gitignore에 추가할것

server:
  port: 8080


logging:
  level:
    root: info
    org.springframework.web: debug
    org.hibernate.SQL: debug